@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  background-color: #55057b;
  color: white;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

body {
  background-color: #101220;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card {
    background-color: #fff;
    width: 300px;
    border-radius: 10px;
    box-shadow: 4px 4px 12px #aaa;
    overflow: hidden;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card div {
    padding: 20px;
}

.card h1 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.card h2 {
    font-size: 1rem;
    color: #aaa;
    margin-bottom: 10px;
}

.card span {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

.card p {
    margin-bottom: 10px;
    text-align: left;
}

.card button {
    background-color: blueviolet;
    height: 30px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
}

.card button:hover {
    background-color: darkviolet;
    transition: background-color 0.3s;
}

.footer {
    display: flex;
    background-color: #55057B;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 5px;
    bottom: 0;
}
